/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.chart-pie-label-line {
    -fx-stroke: #333;
    -fx-fill: #333;
}

.chart-pie-label {
    -fx-fill: #333;
    -fx-font-size: 1em;

} 
.chart-legend {
    -fx-background-color:  #fafad2;
    -fx-stroke: #daa520;
}
 
.default-color0.chart-bar { -fx-bar-fill:  #339966}
.default-color1.chart-bar { -fx-bar-fill:  #990000}

.pane1:hover
{
    -fx-cursor: hand;
}
.pane2:hover
{
    -fx-cursor: text;
}
.lbl:hover
{
    -fx-border-color: #bfbfbf;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-border-width: 3px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}
.btn:hover
{
    -fx-cursor: hand;
}