
/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.btnClass:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;   
    -fx-cursor: hand;
}
.btnClass
{
    -fx-background-color:  #D3D4D6;
}
.hbox:hover
{
    -fx-border-color: #a6a6a6;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-width: 2px
}
.label:hover
{
    -fx-cursor: hand;
}
.lbl:hover
{
    -fx-cursor: text;
}