/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.btnClass:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;   
    -fx-cursor: hand;
}
.btnClass
{
    -fx-background-color:  #D3D4D6;
}
.check-box:selected .mark {

-fx-background-color: #33cc33;

}