/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    background-color: aqua;
}

.textStyle {
    
}

.textStyle:hover {
    
}
.btnClass:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;   
    -fx-cursor: hand;
}
.btnClass
{
    -fx-background-color: #b3b3b3;
}


.menu-item:focused {
     -fx-background-color: #969A9F;
      -fx-cursor: hand;
}
.menu-item:hover
{
    -fx-cursor:hand;
}